.navbar{
    margin-left: 30px;
    margin-right: 30px;
    height: 100px;

}.navbar-brand{
font-weight:bolder;
font-size: 20px;
}
.btn123 a{
    border: solid;
    border-color: rgb(248, 232, 232);
    border-width: 2px;
    background-color: white;
    height: 45px;
    width: 45px;
    margin-left: 10px;
    /* box-shadow: 2px 5px 6px rgba(0,0,0,0.1); */


}
.btn123 .c{
    margin-left: 13px;
    margin-top: 13px;
    color: black;
}


/* <<<<<<<<<<<<<<<<<<<<<<<<<<<navbar>>>>>>>>>>>>>>>>>>>>>>>> */

.blueline{
    background-color: #0d2a46;
    height: 50px;
    max-width: 100%;
    color: white;
    font-weight: bolder;
    text-align: center;
    padding: 10PX;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<blue>>>>>>>>>>>>>>>>>>>>>>>>>>> */


/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<carosal>>>>>>>>>>>>>>>>>>>>> */

.carousel-inner{
    padding: 50px;
 /* margin-left: 1000px; */


}

.masjid{
    margin-left: 10px;
      height: 384px;
    width: 1390px;
    position: relative;
   
}

.bottles{
    position: absolute;
    z-index: 4;
    top: 60px;
    left: 830px;
   
}
.contents{
    position: absolute;
     z-index:3;
     top: 60px;
    left: 100px;
    color: rgb(133, 9, 9);
}
.sh{
    display: inline-block;
    background-color: white;
     color: black; 
     height: 40px;
      width: 130px;
     border-radius: 5px;
     border: none; margin-top: 10px;
     padding: 10px;
     text-align: center;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<carosal/>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */



.partthree{
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-left: -10px;
    

}
.three1{
     height: 250px;
    width: 435px;
    background-color:rgba(234, 229, 232, 1); 
    border-radius: 20px;
    padding: 20px;
    position: relative;
    display: flex;
    gap: 45px;
}
.three2{
   height: 250px;
    width: 435px;

    background-color:rgba(234, 229, 232, 1); 
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    position: relative;
    }
    .Gift{
        margin-top: -23px;
    
    }
    .three3{
           height: 250px;
    width: 435px;
    background-color:rgba(234, 229, 232, 1); 
    border-radius: 20px;
    padding: 20px;
    position: relative;
    display: flex;
    }
    .grp{
        margin-top: -40px;
    }
    .btle3{
        position: absolute;
        left: 190px;
        top:50px ;
        
    }



.three1 h1{
    font-size: 20px;
    font-weight: bold;
}
.three2 h1{
    font-size: 20px;
    font-weight: bold;
}.three3 h1{
    font-size: 20px;
    font-weight: bold;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<part3>>>>>>>>>>>>>>>>>>>>>>>>>> */




.fast{
    /* display: flex;
    justify-content: center;
    gap: 30px;
    border-color: black;
    /* margin-left: 150px; */
    /* margin-top: 20px;
    gap: 50px;
  border-style: solid;
  border-width:1px;
    border-radius: 5px; */ 

       display: flex;
      justify-content: space-between;
      /* text-align: center; */
      align-items: center;
      background: #fff;
      padding: 30px;
      border-radius: 12px;
      box-shadow: 2px 5px 6px rgba(0,0,0,0.1);
      max-width: 1380px;
      margin-left:70px;
      margin-top: 30px;
      gap: 10px;
      font-family: Arial, Helvetica, sans-serif;
       border-style: solid;
  border-width:1px;
  border-color: antiquewhite;
}


.one{
    display: flex;
}
.i{
    margin-top: 30px;
    color: #0d2a46 ;
 
}
.p{
    margin-left: 30px;
}

    
.pics{
    gap: 70px;
}





/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<featured>>>>>>>>>>>>>>>>> */



.fearured {
  width: 94%;
  height: 550px;
  aspect-ratio: 2/1;
  padding: 20px 50px;
  margin: auto;
  border: solid black 2px;
  overflow-x: scroll;

  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  border: none;
  margin-top: 30px;
  scrollbar-width: none;
  margin-left: 20px;
  
  
}
.featuredbtn{
    margin-left: 88%;
    margin-top: -50px;
}

.featuredbtn a{
    height:50px;
    width: 50px;
    border-radius: 50%;
    border-style: solid;
  border-width:2px;
  border-color: rgb(208, 200, 200);
  background-color: white;
display: inline-block;
padding: 8px;

}
.pics{
    display: flex;
}



.bgwhite{
      border-bottom-right-radius:100px ;
    border-top-left-radius:100px ;
    box-shadow: 5px 5px 5px 5px rgba(42, 41, 41, 0.1);
 
   height: 350px;
   width: 320px;
     border-style: solid;
  border-width:1px;
    border-color: antiquewhite;
      background-color: white;
    /* transform: 0.5s; */
    
     transition:0.5s;

}
.bgwhite:hover{
      border-bottom-left-radius:100px ;
    border-top-right-radius:100px ;
       border-bottom-right-radius:0px ;
    border-top-left-radius:0px ;
  
}
.collection{
    margin-top: 30px;
    margin-left: 25px;
    border-radius: 30px;
    height:260px ;
    width:260px ;
    transition: width 2s,height 2s, transform 1s;
}
.collection:hover{
    height:280px ;
    width:280px ;
} 

.btnAddToCart{
    display: inline-block;
    padding: 10px;
    text-align: center;
    height:45px;
    width: 300px;
    background-color: #0d2a46;
    border-radius: 5px;
    border: none;
    color: white;
    text-decoration: none;
     cursor: pointer;
}


/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<text>>>>>>>>>>>>>>> */


.text{
    margin-top: 30px;
        text-align: center;
    font-size: 35px;
}


/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<newarrivals>>>>>>>>>>>>>>>>>>> */


.newarrivals{
    margin-top: 50px;
    /* display: flex;
    justify-content: space-between; */
    /* gap: 50px; */
    margin-left: 60px;
    height: 700px;
    border-radius: 20px;


}
.imgesgroup{
    display: flex;
    justify-self: center;
    gap: 20px;
     position: relative;

    /* margin-left: 30px; */
}
.newimges1{
    height: 550px;
    width: 390px;
    border-radius: 10px;
        transition: width 1s,height 1s, transform 5s;
 margin-top: 20px;

}
.newimges1:hover{
    width: 450px;
    border-radius: 0px;
     

}
.newimges2{
    height: 550px;
    width: 390px;
    border-radius: 10px;
    margin-top: 20px;
}
        
.newimges2:hover{
    width: 450px;
    transition: width 1s,height 1s, transform 1s;
    border-radius: 0px;

}.newimges3{
    height: 550px;
    width: 390px;
    border-radius: 10px;
    margin-top: 20px;
}
.newimges3:hover{
     width: 450px;
    transition: width 1s,height 1s, transform 1s;
    border-radius: 0px;

}

.rotatetext1{
    position: absolute;
    top:385px;
    margin-left: -70px;
font-size: 40px;
color: white;
font-weight: bolder;
}
.rotatetext2{
       position: absolute;
    top: 360px;
font-size: 40px;
    margin-left: -90px;
    color: white;
font-weight: bolder;


}
.rotatetext3{
       position: absolute;
    top: 395px;
font-size: 40px;
    margin-left: -60px;
    color: white;
font-weight: bolder;


}





/* <<<<<<<<<<<<<<<<<<<<<<<<<.Categories>>>>>>>>>>>>> */




.Categories{
    display: flex;
    gap: 55px;
    margin-top: 40px;
    /* margin-left: 100px; */

}
.Cate{
    margin-left: 70px;
}


.categoriesimgs{
    margin-left: 20px;
    margin-top: 20px;
    height: 180px;
    width: 180px;
    border-radius: 50%;
}
.blue{
    color: #083a43;
}


.explorebg{
    background-color: white;
    height: 230px;
    width: 230px;
    border: rgb(240, 235, 235);
    box-shadow:2px 2px 2px  rgba(42, 41, 41, 0.1); ;
     border-style: solid;
  border-width: medium;
  border-radius: 50%;

}


/* <<<<<<<<<<<<<<<<<<<<<<<<<<,offerzone>>>>>>>>>>>>>>>> */
.offerzone{
    margin-top: 50px;
}
.offer{
  width: 100%;
  height: 700px;
  /* aspect-ratio: 2/1; */
  /* padding: 20px 50px; */
  margin: auto;
  border: solid black 2px;
  overflow-x: scroll;
    /* overflow-x:hidden; */

  overflow-y: hidden;
  /* white-space: nowrap; */
  scroll-snap-type: x mandatory;
 scrollbar-width: none;
 border: none;

}
/* .offerzone{
 width: 90%;
  height: 550px;} */


  /* <<<<<<<<<<<<<<<<<<lastpart>>>>>>>>>>>>>>>>. */

.lastpart{
    height: 350px;
    max-width: 100%;
   background-image: url(lastbackground.webp);
   background-repeat: no-repeat;
   background-size: cover;
    margin-left: 70px;
    margin-top: 50px;
    margin-right: 70px;
    border-radius: 20px;
    padding: 70px;
    
}
.last{
position: relative;
}
.lastimg{
position: absolute;
top: 1px;
left: 845px;

}
.lstbtn{
    padding: 10px;
     color: white;
      background-color: #0d2a46;
       height: 50px; 
       width: 150px;
        border-radius: 10px;
        border: none;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
}


/* <<<<<<<<<<<<<<<<<<<<<<<<,footer>>>>>>>>>>>>> */

.footer{
    margin-top: 70PX;
    background-color:rgba(123, 177, 184, 0.762);
     height: 300px;
    max-width: 100%;
    display: flex;
    gap: 150px;
    padding: 30px;
    border-bottom: 2px solid rgb(5, 5, 5);
}
.page{
        display: flex;
            gap: 150px;
            margin-left: 350px;


}



.underfooter{
    display: flex;
    justify-content: space-between;
        background-color:rgba(123, 177, 184, 0.762);
height: 60px;
    max-width: 100%;
    padding-top: 10px;
}
/* .under{
    display: flex;
    justify-content: space-between;
} */
.web{
    display: flex;
    justify-content: space-between;
}



/* 
// Source mixin
@mixin make-container($padding-x: $container-padding-x) {
  width: 100%;
  padding-right: $padding-x;
  padding-left: $padding-x;
  margin-right: auto;
  margin-left: auto;
}

/* // Usage */
/* .custom-container {
  @include make-container();
} */






@media(max-width:1000px){

.partthree{
    display: flex;
    flex-direction: column;

}
.fast{
       display: flex;
    flex-direction: column;
}
.fearured{
      display: flex;
    flex-direction: column;
}
.imgesgroup{
      display: flex;
    flex-direction: column;
}
.rotatetext1{
     display: flex;
    flex-direction: column;
}
.rotatetext2{
     display: flex;
    flex-direction: column;
        margin-top: 600px;

}
.rotatetext3{
     display: flex;
    flex-direction: column;
    margin-top: 1200px;
}
.cats {
    margin-top: 1100px;
}
.Categories{
     display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.footer{
      display: flex;
    flex-direction: column;
    
   
}
.web{
      display: flex;
    flex-direction: column;
    margin-top: 1000px;
}
.page{
      display: flex;
    flex-direction: column;
    margin-left: 0px;
}
.underfooter{
     display: flex;
    flex-direction: column;
}
.lstbtn{
    margin-left: -70px;
}
}